body {
  /* Background pattern from Toptal Subtle Patterns */
  background-image: url("../images/lightpaperfibers.png");
  font-family: "Roboto Slab", serif;
}

h1 {
  margin-left: 25px;
  margin-top: 25px;
  margin-bottom: 5px;
}

h4 {
  margin-left: 25px;
  margin-top: 5px;
}

#editor {
  margin: 25px;
  max-width: 80%;
}

#notepad {
  box-shadow: 5px 5px darkslategrey;
  width: auto;
  min-width: available;
}
